
*{
	text-align: center;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: #f6f5f7;
	/* display: flex;
	flex-direction: column; */
} 
#form-detail{
	border: 1px solid grey;
	min-width: 400px;
	width: 30%;
	margin: 0 auto;
	background-color: #f6f5f7;
	border-radius: 8px;
	box-shadow: 0 14px 28px rgba(0, 0, 0,0.25), 0 10px 10px rgba(0, 0, 0,0.22);
}
form > div{
	display: flex;
	flex-direction: column;
}
div > input{
	margin: 0 auto;
	height: 25px;
	width: 80%;
	text-align: left;
	outline: none;
}
div > label{
	font-size: 20px;
	text-align: left;
	width: 80%;
	margin: 0 auto;
}
div > #sign-up-btn{
	text-align: center;
	background-color:  rgb(202, 71, 71);
	border: none;
	outline: none;
	height: 35px;
	width: 82%;
	color: white;
	margin-bottom: 10%;
}
div > .error{
	color: red;
	font-size: 12px;
	text-align: left;
	padding-left: 10%;
	font-weight: 600;
}